@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base{
  @font-face {
    font-family: "generalsans-light";
    src: url("/fonts/GeneralSans-Light.woff") format("woff");
  }
  @font-face {
    font-family: "generalsans-regular";
    src: url("/fonts/GeneralSans-Regular.woff") format("woff");
  }
  @font-face {
    font-family: "generalsans-medium";
    src: url("/fonts/GeneralSans-Medium.woff") format("woff");
  }
  @font-face {
    font-family: "generalsans-semibold";
    src: url("/fonts/GeneralSans-Semibold.woff") format("woff");
  }
  @font-face {
    font-family: "generalsans-bold";
    src: url("/fonts/GeneralSans-Bold.woff") format("woff");
  }
  html {
    scroll-behavior: smooth;
    font-family: "generalsans-regular";
  }
  html::-webkit-scrollbar {
    width: 12px;
    height: 12px;
    background-color: #ffffff;
  }
  html::-webkit-scrollbar-thumb {
    border-radius: 6px;
    background-color: #d6d6d6;
  }
  .regular{
    font-family: "generalsans-regular";
  }
  .light{
    font-family: "generalsans-light";
  }
  .bold{
    font-family: "generalsans-bold";
  }
  .semibold{
    font-family: "generalsans-semibold";
  }

  /* styles.css */
.scroll-container {
  overflow: hidden;
  position: relative;
}
.back {
  transition: transform 1s ease-out;
}

section {
  overflow: hidden;
  position: relative;
}

#experience{
  padding: 50px 0px;
  width: 100%;
}
#experience .container{
  width: 95%;
  margin: auto;
}
.col{
  width: 50%;
}
.experience-content{
  display: flex;
  justify-content: center;
  align-items: flex-start;
  width: 100%;
}
.experience-content .col-left{height: 100%; }
.experience-content .col-right{width: 50%;}

.experience_text{
  display: none;
}
.experience_pict{
  height: 208px;
}

@media (max-width: 640px) {
  #experience .container{
    width: 90%;
    margin: auto;
  }
  .experience-content .col-right{width: 100%;}

  .experience-content{
    display: flex;
    flex-direction: column;
  }
  .experience_text{
    display: block;
  }

 }
 @media (max-width: 500px){
  .experience_pict{
    height: 120px;
  }
 }
 @media (max-width: 400px){

 }

}